<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">BetID</th>
        <th scope="col">Bet Line ID</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Outcome ID</th>
        <th scope="col">Outcome Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
          <td scope="row">{{ row.betId }}</td>
          <td>{{ row.betLineId }}</td>
          <td>{{row.datePlaced}}</td>
          <td>{{row.outcomeId}}</td>
          <td>{{row.status}}</td>
          <td>UPDATE</td>
      </tr>
    </tbody>
  </table>